:root {
    --color-red: #FF6B6B;
    --color-green:#00BD9D;
    --color-blue:#0094c6;
}
* {
    padding: 0px;
    margin:0px;
    font-family: 'Arial';
    color: #444;
}

h2 {
    padding:10px 0px;
}

section {
   padding:20px 0px;

}
.wrapper {
    margin:10px auto;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

.wrapper .totalCounter {
    text-align: center;
}

.wrapper .totalCounter h2 {
    font-size: 18px;
    font-weight: normal;
}

.wrapper .totalCounter p {
    font-size: 30px;
    font-weight: bold;
}

.wrapper #tvs-purchased-amount p{
    color:var(--color-blue);
}
.wrapper #tvs-sold-amount p {
    color:var(--color-green);
}
.wrapper #tvs-to-sell-amount p{
    color:var(--color-red);
}


#product-tile, .product-tile {
    padding:10px;
    border:1px solid #f3f3f3;
    background-color: #f9f9f9;
    width: 500px;
}

.product-grid {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-tile {
    margin:20px;
}